// COLORS //
$color-white: #ffffff;
$color-black: black;
$color-gray: #7D7D7D;
$color-gray-light: #d7dfeb;
$color-gray-light-2: #B1B1B1;
$color-gray-light-3: #dddddd;
$color-gray-light-4: #d8d8d821;
$color-gray-light-5: #F3F3F4;
$color-gray-light-6: #6E6D7A;
$color-blue: #00A3E5;
$color-orange: #FF6969;

$default-text-color-black: #32363B;

$highlight-text-color-gray: #EAF1FE;

// STYLING //
$border-gray: 1px solid #8694A7;
$border-gray-light: 1px solid #dddddd;

$box-shadow-light: 0 2px 14px 0 rgba(215,215,215,0.5);

.widget-sandbox{
  border: $border-gray-light;
  box-shadow: $box-shadow-light;
  background-color: white;
  border-radius: 16px;;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 128px 32px 32px 366px;
  overflow: auto;
}
