<div class="flex-container">

  <lib-navbar-dashboard [navlinks]="nav"></lib-navbar-dashboard>


  <lib-navbar-dashboard-sub
    headingTxt="Heading"
    subHeadingTxt="Subheading" [snippets]="snippetBox"
  ></lib-navbar-dashboard-sub>

  <lib-header-dashboard headerText="Dashboard" iconName="dashboard">

<lib-search-panel
  [rightArrowBtnClicked]="moveRight"
  [filterBtnClicked]="showFilters"
  [searchBtnClicked]="search"
  [clearBtnClicked]="clear"
  [expandFiltersClicked]="expandFilters">

</lib-search-panel>

  </lib-header-dashboard>

</div>


